.weather {
    &-container {
        max-width: 440px;
        padding-left: 30px;
        margin-top: 40px;
    }
    &-city-name {
        font-size: 40px;
        font-family: "Bree", sans-serif;
        color: #545252;
    }
    &-temp {
        display: flex;
        position: relative;
        svg {
            font-size: 47px;
            position: absolute;
            left: 26px;
            top: -1px;
        }
        h1 {
            font-size: 35px;
            font-family: "Cambria", sans-serif;
            color: #000000;
        }
    }

}
#description {
    width: 100px;
}
#cel {
    font-size: 30px;
    position: absolute;
    left: -10px;
}